@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

@media (max-width: 992px) {
  .nav-top ul {
    display: none;
  }

  .min-nav {
    width: 100%;
    z-index: 20000;
    position: fixed;
  }
  .min-nav ul {
    width: 100%;
    background-color: rgba(177, 219, 199, 0.8);
    text-align: center;
    padding: 30px;
  }
  .min-nav ul a {
    font-weight: bold;
  }
}
body {
  font: 14px "微软雅黑", Arial, Helvetica, sans-serif;
  color: #555;
  background-image: url(../img/bg.png);
  background-color: #96CEB4;
  background-repeat: no-repeat;
  background-position: center 60px;
  background-attachment: fixed;
}
body a:hover {
  text-decoration: none;
}

#lunbo img {
  width: 100%;
  height: 100%;
}
#lunbo .left {
  left: 0;
}
#lunbo .right {
  right: 0;
}

.nav-top {
  z-index: 10000;
  width: 100%;
  overflow: hidden;
  background-color: #299982;
  position: fixed;
}
.nav-top ul {
  margin-bottom: 0px;
  text-align: center;
  height: 46px;
  line-height: 46px;
}
.nav-top ul li {
  display: inline;
  font-size: #fff;
  padding: 0px 20px;
}
.nav-top ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

.container {
  background-color: rgba(203, 231, 218, 0.5);
}

#lunbo {
  margin-bottom: 25px;
  padding: 0;
}
#lunbo img {
  width: 100%;
  height: 100%;
}

.blog {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  margin-bottom: 20px;
}
.blog .blog-body {
  border: 10px solid #F3F3F3;
  text-align: center;
  width: 22%;
  height: 460px;
  background-color: #ECECEC;
}
.blog .blog-body .blog-top {
  position: relative;
}
.blog .blog-body .blog-top .a-blog {
  text-decoration: underline;
  display: inline-block;
  height: 270px;
}
.blog .blog-body .blog-top .a-blog img {
  width: 100%;
  height: 270px;
}
.blog .blog-body .blog-top span {
  display: none;
  position: absolute;
  color: white;
  left: 70px;
  top: 120px;
}
.blog .blog-body .blog-top span:hover {
  color: white;
}
.blog .blog-body .blog-top .a-text {
  color: #226039;
  line-height: 26px;
  font-weight: bold;
  display: inline-block;
  padding: 10px;
  padding-bottom: 0;
}
.blog .blog-body .blog-top .a-text:hover {
  color: #226039;
}
.blog .blog-body .blog-top p {
  padding: 10px;
  margin: 0;
  text-align: left;
}

.title {
  background-color: #349075;
  padding: 15px;
}
.title h3 {
  line-height: 24px;
  margin: 0;
  color: #FFFFFF;
}

.media {
  margin-top: 0;
  width: 100%;
  border: 10px solid #FFFFFF;
  background-color: #FFFFFF;
  border-bottom: 1px solid #CCCCCC;
  padding-bottom: 5px;
  position: relative;
}
.media img {
  width: 200px;
  height: 100px;
}
.media a {
  color: #299982;
}
.media a:hover {
  text-decoration: underline;
}
.media .a-read {
  float: right;
}
.media .a-read:after {
  clear: both;
}
.media .lineto {
  width: 0px;
  height: 2px;
  background-color: #349075;
  position: absolute;
  bottom: 0;
}
.media h3 {
  color: #555;
}

.rank .media:hover {
  color: #000000;
}
.rank .media:hover a {
  color: #000000;
  text-decoration: none;
}
.rank .media a {
  font-weight: bold;
  color: #555;
}
.rank .media .media-left {
  width: 100px;
  height: 66px;
  overflow: hidden;
  display: inline-block;
  float: left;
}
.rank .media .media-left img {
  width: 100px;
  height: 70px;
}
.rank .line {
  width: 0px;
  height: 0px;
  border-bottom: 1px solid #EAEAEA;
}

.rank-last {
  padding-bottom: 30px;
}

.rank-first {
  margin-top: 20px;
}

.f-link {
  text-align: center;
  padding: 10px;
}
.f-link li {
  line-height: 24px;
  padding: 5px 50px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}
.f-link a {
  color: #555;
}
.f-link a:hover {
  color: #009966;
  text-decoration: none;
}

.wx-code img {
  width: 100%;
  height: 100%;
}

.col-md-7 {
  margin-bottom: 30px;
}

.foot {
  width: 100%;
  background: #333;
  color: #a5a4a4;
  text-align: center;
  padding: 20px 0;
  color: #A4A4A4;
  margin: 0;
}
.foot a {
  color: #A4A4A4;
}

/*# sourceMappingURL=index.css.map */
